<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>
<h2>Current Items:</h2>
<form action="/cart" method="post">
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Apple</td>
      <td><span th:text="${appleCount}"}></span></td>
    </tr>
    <tr>
      <td>Orange</td>
      <td><span th:text="${orangeCount}"></span></td>
    </tr>
    <tr>
      <td>Pear</td>
      <td><span th:text="${pearCount}"></span></td>
    </tr>
    <tr>
      <td>Banana</td>
      <td><span th:text="${bananaCount}"></span></td>
    </tr>
    <tr>
      <td>Custom Item Name:</td>
      <td></td>
      <td><input type="text" name="customItemName"></td>
    </tr>
    <tr>
      <td>Custom Item Count:</td>
      <td></td>
      <td><input type="number" name="customItemCount" value="0"></td>
    </tr>
    </tbody>
  </table>
  <button type="submit">Submit</button>
</form>
<p><a href="/newname">Add New Item</a></p>
<p><a href="/delname">Remove Item</a></p>
<p><a href="/updatename">Update Item</a></p>
<p><a href="/logout">Logout</a></p>
</body>
</html>