<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cart Page</title>
</head>
<body>

<form action="/cart" method="post">
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>

      <td th:text="${user.getName()}"></td>
      <td>
        <ul>
          <li th:each="item : ${user.getItem()}"
              th:text="'item:'+${item.getName()} + ' count:' + ${item.getCount()} + ' cost:' + ${item.getCost()}">
          </li>
        </ul>
      </td>


    </tbody>
  </table>
  <button type="submit">Submit</button>
</form>
<p><a href="/updatecart">Update Cart Info</a></p>
<p><a href="/newname">Add New Item</a></p>
<p><a href="/delname">Remove Item</a></p>
<p><a href="/updatename">Update Item</a></p>
<p><a href="/logout">Logout</a></p>
</body>
</html>