<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete name</title>
</head>
<body>

<form action="/delname" method="post">
  <table>
    <thead>
    <tr>
      <th>select the product you want to remove</th>

    </tr>
    </thead>
    <tbody>

      <td>
        <ul>
          <li th:each="item : ${user.getItem()}">
            <span th:text="'item: ' + ${item.getName()} + ' cost: ' + ${item.getCost()}"></span>
            <input type="checkbox" name="itemName" th:value="${item.getName()}" />
            <input type="hidden" name="itemUser" th:value="${user.getName()}"/>
          </li>
        </ul>
      </td>

    </tbody>
  </table>
  <button type="submit">Submit</button>
</form>



</body>
</html>