<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/cart" method="post">
  <table>
    <tbody>
    <tr>
      <td>New item name:</td>
      <td></td>
      <td><input type="text" name="newItemName"></td>
    </tr>
    <tr>
      <td>New item cost:</td>
      <td></td>
      <td><input type="number" name="newItemCost" value="0"></td>
    </tr>
    </tbody>
  </table>
  <button type="submit">Submit</button>
</form>

</body>
</html>